body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(22, 22, 22);
}
.navbar {
    background-color: #333;
    padding: 10px 20px;
}
.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}
.nav-list li {
    display: inline;
}
.nav-list a {
    color: white;
    text-decoration: none;
    font-weight: 700;
}
.nav-list a:hover {
    color: rgb(188, 4, 188);
 }

.portfolio-title {
    text-align: center;
    font-size: 60px;
    color: purple;
    margin-top: 15px;
    margin-bottom: 15px;
    letter-spacing: 3px;
}
.waa {
    color: white;
} 
.inp {
    background-color:rgb(100, 3, 100);
}
.boom {
    background-color:rgb(100, 3, 100);
}
section {
    margin: 10px;
    padding: 20px;
    background-color: rgb(46, 46, 46);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
table {
    margin: left;
    border-collapse: separate; /* Allow spacing */
    border-spacing: 100px 5px; /* Vertical spacing of 20px */
}

tr {
    height: 1px; /* Optional: set row height */
    color: white;
}

h2 {
    color: rgb(132, 47, 132);
}
p , li {
    color: white;
}
footer {
    text-align: center;
    background-color: rgb(100, 3, 100);
    color: white;
    padding: 1px;

    bottom: 0;
    width: 100%;
}